body{
  font-family:Arial;
  margin:0;
  text-align:center;
}

.spacer{
  height:100vh;
}

.box{
  opacity:0;
  transform:translateY(40px);
  transition:0.6s;
  background:#3b82f6;
  color:white;
  padding:40px;
  display:inline-block;
  border-radius:8px;
}
